﻿@model WebApplication.Models.LoginViewModel

<h2>@ViewBag.Title.</h2>
<body style="background-image:url('../../Images/ist-background.jpg'); background-size: cover">
    <div class="row" style="margin-left : 600px ; margin-top : 200px">
        <div class="col-md-8">
            <section id="loginForm">
                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                 {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)
                    <div class="form-group">

                        <div class="col-md-10">
                            <img src="~/Images/logo1.png" />
                        </div>
                    </div>
                    <div class="form-group">

                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.UserName, new { placeholder = "Tên khách hàng", @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.UserName)
                        </div>
                    </div>
                    <div class="form-group">

                        <div class="col-md-10">
                            @Html.PasswordFor(m => m.Password, new { placeholder = "Mật khẩu", @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Password)
                        </div>
                    </div>
                    <div class="form-group" style="text-align:center">
                        <div class="col-md-10">
                            <input type="submit" value="Đăng Nhập" class="btn btn-primary" />
                        </div>
                    </div>

                }
            </section>
        </div>
    </div>

</body>