﻿@model WebApplication.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}
<body style="background-image:url('../../Images/ist-background.jpg'); background-size: cover">
    <div class="row" style="margin-left : 600px ; margin-top : 200px">

        @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary()
            <div class="form-group">

                <div class="col-md-10">
                    <img src="~/Images/logo1.png" />
                </div>
            </div>
            <div class="form-group">

                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.UserName, new { placeholder = "Tên khách hàng", @class = "form-control" })
                </div>
            </div>
            <div class="form-group">

                <div class="col-md-10">
                    @Html.PasswordFor(m => m.Password, new { placeholder = "Mật khẩu", @class = "form-control" })
                </div>
            </div>
            <div class="form-group">

                <div class="col-md-10">
                    @Html.PasswordFor(m => m.ConfirmPassword, new { placeholder = "Xác nhận mật khẩu", @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" class="btn btn-primary" value="Đăng ký" />
                </div>
            </div>
        }

        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }
    </div>
    </body>