﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <style>
        .sidenav {
            height: 100%;
            width: 200px;
            position: fixed;
            z-index: 1;
            top: 0;
            left: 0;
            background-color: #111;
            overflow-x: hidden;
            padding-top: 80px;
            background: #2980B9;
            background: -webkit-linear-gradient(to left, #FFFFFF, #6DD5FA, #2980B9);
            background: linear-gradient(to left, #FFFFFF, #6DD5FA, #2980B9);
        }

        .sidenav a {
            padding: 6px 6px 6px 32px;
            text-decoration: none;
            font-size: 18px;
            color: black;
            display: block;
        }

        .sidenav a:hover {
            color: #f1f1f1;
        }
    </style>

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top"
         style="background: #fffbd5;
                background: -webkit-linear-gradient(to right, #FFFFFF, #b20a2c);
                background: linear-gradient(to right,#FFFFFF, #b20a2c);">

        <div class="navbar-header">
            <a href="@Url.Action("Index","")">
                <img src="@Url.Content("~/Content/qt.png")" height="80" width="100" />
            </a>
        </div>
        <div class="navbar-collapse collapse">
            <div style="text-align:center
                            /*margin-top:10px;*/
                ">
                <h2>
                    Website quản lý cửa hàng điện máy quyết tiến
                </h2>                
            </div>
        </div>
        <div class="navbar-fixed-top"
             style="margin-top:15px;
                    margin-left:130px;
             ">
            @Html.Partial("_LoginPartial")
        </div>

    </div>
    <div class="container body-content" style="margin-left:200px; margin-top:30px">
        @RenderBody()
        
        <footer>
           
        </footer>
    </div>

    <div class="sidenav">
        <a>
            @Html.ActionLink("Các Sản Phẩm", "Index", "BangSanPham")
        </a>
        <a>
            @Html.ActionLink("Bảng Hóa Đơn", "Index", "BangHoaDon")
        </a>
        <a>
            @Html.ActionLink("Loại Sản Phẩm", "Index", "LoaiSanPham")
        </a>

    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
