﻿@model WebApplication.Models.LoaiSanPham

@{
    ViewBag.Title = "Details";
}

<h2>Chi tiết</h2>

<div>
    <h4>Loại sản phẩm</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            Tên loại
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenLoai)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Chỉnh Sửa", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
