﻿@model IEnumerable<WebApplication.Models.LoaiSanPham>

@{
    ViewBag.Title = "Index";
}

<h2>Loại sản phẩm</h2>

<p style="float:right">
    <button type="button" class="btn">@Html.ActionLink("Thêm", "Create") </button>
</p>
<table id="LoaiSanPham" class="table table-hover table-striped table-bordered">
    <thead style="background-color:deepskyblue">
        <tr>
            <th>
                Tên loại
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TenLoai)
                </td>
                <td>
                    <a title="Sửa" href="@Url.Action("Edit", new { id = item.id })">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </a>
                    <a title="Chi tiết" href="@Url.Action("Details", new { id = item.id })">
                        <span class="glyphicon glyphicon-search"></span>
                    </a>
                    <a title="Xóa" href="@Url.Action("Delete", new { id = item.id })">
                        <span class="glyphicon glyphicon-trash"></span>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section scripts {
    <link href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet" />
    <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script>
    $(document).ready(function () {
        $('#LoaiSanPham').DataTable();
    });
    </script>
}
