﻿@model WebApplication.Models.BangHoaDon

@{
    ViewBag.Title = "Create";
}

<h2>THÊM HÓA ĐƠN TIỀN MẶT</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Thông tin hóa đơn</h4>
    <hr />
    @Html.ValidationSummary(true)

    <div class="row">
        <div class="form-group col-md-6">
            @Html.LabelFor(model => model.TenKhachHang, "Tên khách hàng", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.TenKhachHang, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.TenKhachHang)
            </div>
        </div>

        <div class="form-group col-md-6">
            @Html.LabelFor(model => model.SoDienThoai, "Số điện thoại", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.SoDienThoai, new { type = "number", @class = "form-control" })
                @Html.ValidationMessageFor(model => model.SoDienThoai)
            </div>
        </div>
    </div>

    <div class="row">
        <div class="form-group col-md-6">
            @Html.LabelFor(model => model.DiaChi, "Địa chỉ", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.DiaChi, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.DiaChi)
            </div>
        </div>

        <div class="form-group col-md-6">
            @Html.LabelFor(model => model.GhiChu, "Ghi chú", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.GhiChu, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.GhiChu)
            </div>
        </div>
    </div>

    <div class="row">
        <div class="form-group col-md-6">
            @Html.LabelFor(model => model.NgayLap, "Ngay Lap", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.NgayLap, "{0:yyyy-MM-dd HH:mm:ss}", new { @class = "form-control", placeholder = "YYYY-MM-DD 00:00:00.000" })
                @Html.ValidationMessageFor(model => model.NgayLap)
            </div>
        </div>

        <div class="form-group col-md-6">
            @Html.LabelFor(model => model.TenNguoiGiaoHang, "Tên người giao hàng", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.TenNguoiGiaoHang, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.TenNguoiGiaoHang)
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Lưu hóa đơn" class="btn btn-default" />
        </div>
    </div>
</div>
}

@if (Session["BangHoaDon"] != null) { 

    @Html.Action("Create", "ChiTietHD")
    @Html.Action("Index", "ChiTietHD")

    <br /><br />
    using (Html.BeginForm("Create2", "BangHoaDon"))
    {
        @Html.AntiForgeryToken()
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Lập hóa đơn" class="btn btn-primary" />
            </div>
        </div>
    }
}

<div>
    @Html.ActionLink("Quay lại", "Index")
</div>

@section Scripts {
<script>
    $('#SP_id').change(function () {
        var url = '@Url.Action("DonGiaBan", "ChiTietHD")';
        url = url + '?SP_id=' + $(this).val();
        $.get(url, function (data) {
            $('#DonGiaBan').val(data);
        });
    });
</script>
}