﻿@model WebApplication.Models.BangHoaDon

@{
    ViewBag.Title = "Edit";
}

<h2>Sửa</h2>


@using (Html.BeginForm("Edit", "BangHoaDon"))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Bảng hóa đơn</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.id)

        <div class="row">
            <div class="form-group col-md-6">
                @Html.LabelFor(model => model.TenKhachHang,"Tên khách hàng", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.TenKhachHang, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.TenKhachHang)
                </div>
            </div>

            <div class="form-group col-md-6">
                @Html.LabelFor(model => model.SoDienThoai,"Số điện thoại", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.SoDienThoai, new { type = "number", @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.SoDienThoai)
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-6">
                @Html.LabelFor(model => model.DiaChi,"Địa chỉ", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.DiaChi, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.DiaChi)
                </div>
            </div>

            <div class="form-group col-md-6">
                @Html.LabelFor(model => model.GhiChu,"Ghi chú", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.GhiChu, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.GhiChu)
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Cập nhật hóa đơn" class="btn btn-default" />
            </div>
        </div>
    </div>
}
@if (Session["BangHoaDon"] != null)
{
    @Html.Action("Create", "ChiTietHD")
    @Html.Action("Index", "ChiTietHD")

    <br /><br />
    using (Html.BeginForm("Edit2", "BangHoaDon"))
    {
        @Html.AntiForgeryToken()
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Lập hóa đơn" class="btn btn-primary" />
            </div>
        </div>
    }
    Session["BangHoaDon"] = null;
}

<div>
    @Html.ActionLink("Quay lại", "Index")
</div>

@section Scripts {
    <script>
    $('#SP_id').change(function () {
        var url = '@Url.Action("DonGiaBan", "ChiTietHD")';
        url = url + '?SP_id=' + $(this).val();
        $.get(url, function (data) {
            $('#DonGiaBan').val(data);
        });
    });
    </script>
}
