﻿@model IEnumerable<WebApplication.Models.BangHoaDon>

@{
    ViewBag.Title = "Bản Hóa Đơn";
}

<h2>Bảng Hóa Đơn</h2>

<p style="float:right">
    <button type="button" class="btn">@Html.ActionLink("Thêm", "Create") </button>
</p>
<table id="BangHoaDon" class="table table-hover table-striped table-bordered">
    <thead style="background-color:deepskyblue">
        <tr>
            <th>
                Tên khách hàng
            </th>
            <th>
                Số điện thoại
            </th>
            <th>
                Địa chỉ
            </th>
            <th>
                Ghi chú
            </th>
            <th>
                Ngay lap
            </th>
            <th>
               Nguoi giao hang
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenKhachHang)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoDienThoai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiaChi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GhiChu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayLap)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenNguoiGiaoHang)
            </td>
            <td>
                <a title="Sửa" href="@Url.Action("Edit", new { id = item.id })">
                    <span class="glyphicon glyphicon-pencil"></span>
                </a>
                <a title="Chi tiết" href="@Url.Action("Details1", new { id = item.id })">
                    <span class="glyphicon glyphicon-search"></span>
                </a>
                <a title="Xóa" href="@Url.Action("Delete", new { id = item.id })">
                    <span class="glyphicon glyphicon-trash"></span>
                </a>
            </td>
        </tr>
        }
    </tbody>
</table>

@section scripts {
    <link href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet" />
    <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script>
    $(document).ready(function () {
        $('#BangHoaDon').DataTable();
    });
    </script>
}