﻿@model IEnumerable<WebApplication.Models.ChiTietHD>

@{
    ViewBag.Title = "Index";
}

<table class="table">
    <tr>
        <th>
            Tên sản phẩm
        </th>
        <th>
            Số lượng
        </th>
        <th>
            Đơn giá bán
        </th>
        <th>
            Thành tiền
        </th>
       
    </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.BangSanPham.TenSP)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SoLuong)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DonGiaBan)
                </td>
                <td>
                    @(item.SoLuong * item.DonGiaBan)
                </td>
                <td>
                    @Html.ActionLink("Xóa", "Delete", new { id = item.id })
                </td>
            </tr>
        }
</table>

<div>
    <div class="form-group">
        <label class="control-label col-md-2">Tổng tiền</label>
        <div class="col-md-10">
            <input class="disabled" value="@Model.Sum(m => m.DonGiaBan * m.SoLuong)" disabled /> VNĐ
        </div>
    </div>
</div>
