﻿@model WebApplication.Models.InstallmentBill

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>InstallmentBill</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenKH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenKH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TenSP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenSP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TenNGH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenNGH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TraTruoc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TraTruoc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TienNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TienNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GopHangThang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GopHangThang)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GhiChu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GhiChu)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
