﻿@model IEnumerable<WebApplication.Models.InstallmentBill>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table id="HoaDonTraGop" class="table table-hover table-striped table-bordered">
    <thead style="background-color:deepskyblue">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TenKH)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TenSP)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TenNGH)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TraTruoc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TienNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GopHangThang)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GhiChu)
            </th>
            <th></th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TenKH)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TenSP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TenNGH)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TraTruoc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TienNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GopHangThang)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GhiChu)
        </td>
        
        <td style="text-align:center">
            <a title="Sửa" href="@Url.Action("Edit", new { id = item.Id })">
                <span class="glyphicon glyphicon-pencil"></span>
            </a>
            <a title="Chi tiết sản phẩm" href="@Url.Action("Details1", new{id = item.Id})">
                <span class="glyphicon glyphicon-search"></span>
            </a>
            <a title="Xóa" href="@Url.Action("Delete", new { id = item.Id })">
                <span class="glyphicon glyphicon-trash"></span>
            </a>
        </td>
        
    </tr>
    }

</table>

@section scripts {
    <link href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet" />
    <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#HoaDonTraGop').DataTable();
        });
    </script>
}